body {
    margin-top: 60px;
}

.navbar-brand {
    background: url(linijka.png) no-repeat;
    background-size: 30px 30px;
    background-position: 16px 6px;
    padding-left: 50px;
    font-family: "Trebuchet MS";
    color: #567 !important;
}

.post {
    clear: both;
    padding-top: 6px;
}

.post-votes {
    width: 60px;
    float: left;
}

.post-details {
}

.post-details h3 {
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 18px;
}

.post-details .post-date-author {
    font-size: 11px;
    color: #aaa;
    margin-bottom: 0px;
}

.post-details .post-author {
    color: #777;
}

.post-details .post-comments {
    font-size: 12px;
    font-weight: bold;
}

.post-details .post-comments a {
    color: #999;
}

a.post-vote {
    display: block;
    color: #888;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

a.post-vote:hover {
    color: #aaa;
    text-decoration: none;
}

.post-vote.vote-count {
    font-weight: bold;
    text-align: center;
    color: #888;
    margin: 0;
}

.post-list-no-posts {
    text-align: center;
    color: #aaa;
}
.post.voted .vote-up, .post.voted .vote-down {
    opacity: 0.25;
}

/* Nadpisanie niektórych stylów z Bootstrapa */

.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
}

.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
}
.nav-justified > li {
    display: table-cell;
    width: 1%;
}

.nav-justified > li > a {
    margin-bottom: 0;
}
.nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
}

.navbar {
    border-radius: 4px;
}
.navbar-header {
    float: left;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.navbar-static-top {
    border-radius: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-toggle {
    display: none;
}
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.navbar-form .form-control-static {
    display: inline-block;
}

.navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
    width: auto;
}

.navbar-form .input-group > .form-control {
    width: 100%;
}

.navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
    padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
    top: 0;
}

.navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-right ~ .navbar-right {
    margin-right: 0;
}
.col-sm-12 {
    width: 100%;
}

.comment {
    padding: 5px;
}

.comment-date-author { 
    margin: 0;
    font-size: 12px;
}

.comment-author {
    font-weight: bold;
    color: #378;
}

.comment-date {
    color: #aaa;
}
