<template name="commentList">
{{#if comments}}
{{#each comments}}
{{> commentItem}}
{{/each}}
{{else}}
<em>No comments added yet!</em>
{{/if}}
</template>

<template name="commentItem">
<div class="comment">
  <div class="comment-details">
    <p class="comment-date-author"><span class="comment-author">{{author.username}}</span> <span class="comment-date">{{time}}</span></p>
    <p class="comment-text">{{text}}</p>
  </div>
</div>
</template>

<template name="commentAdd">
<form class="form-horizontal new-comment-form">
  <fieldset>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="new-comment-text">Dodaj komentarz</label>
    <div class="col-sm-8">                     
      <textarea class="form-control" id="new-comment-text" name="new-comment-text"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="new-comment-submit"></label>
    <div class="col-sm-4">
      <button id="new-comment-submit" name="new-comment-submit" class="btn btn-primary">Dodaj</button>
    </div>
  </div>
  </fieldset>
</form>
</template>
