<template name="postAddForm">
  <form class="form-horizontal new-post-form hide">
    <fieldset>
    <legend>Dodaj nowy post</legend>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="new-post-link">Link</label>  
      <div class="col-sm-8">
        <input id="new-post-link" name="new-post-link" type="text" placeholder="Adres do strony którą chcesz dodać, np.: http://wykop.pl/" class="form-control input-md" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="new-post-title">Tytuł</label>  
      <div class="col-sm-8">
        <input id="new-post-title" name="new-post-title" type="text" placeholder="Co zawiera dodawana przez ciebie strona?" class="form-control input-md" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="new-post-description">Opis</label>
      <div class="col-sm-8">                     
        <textarea class="form-control" id="new-post-description" name="new-post-description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="new-post-submit"></label>
      <div class="col-sm-4">
        <button id="new-post-submit" name="new-post-submit" class="btn btn-primary">Dodaj</button>
      </div>
    </div>

    </fieldset>
  </form>
</template>
